<ul class="nav nav-tabs">
    <li class="nav-item">
        <a routerLink="/" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}"
            aria-current="page">Home</a>
    </li>
    <li class="nav-item">
        <a [routerLink]="['cv']" routerLinkActive="active" class="nav-link">Cv</a>
    </li>
    <li class="nav-item">
        <a routerLink="/servers" routerLinkActive="active" class="nav-link">Servers</a>
    </li>
    <li class="nav-item">
        <a routerLink="/ms-word" class="nav-link" routerLinkActive="active" aria-disabled="true">Ms-Word</a>
    </li>
    <li class="nav-item">
        <a routerLink="/login" class="nav-link" routerLinkActive="active" aria-disabled="true">Login</a>
    </li>
</ul>