<form #f="ngForm">

    <input required minlength="6" pattern="nidhal" #exp="ngModel" ngModel name="exemple" type="text"
        class="form-control">
    <div *ngIf="exp.invalid" class="alert alert-danger">
        <p *ngIf="exp.errors['required']">Ce champ est required</p>
        <p *ngIf="exp.errors['minlength']">Le nombre de caractères minimal est 6</p>
        <p *ngIf="exp.errors['pattern']">Le pattern est "nidhal"</p>

    </div>

    <label for="name">Adresse E-Mail</label>
    <input #inpLogin="ngModel" required email ngModel type="text" class="form-control" name="login" id="name">

    <div *ngIf="inpLogin.invalid && inpLogin.dirty" class="alert alert-danger">Ce champ doit être une adresse mail</div>
    <label for="">Mot de passe</label>
    <input ngModel type="text" class="form-control" name="pwd">

    <label for="">Entreprise</label>

    <select [ngModel]="defaultEntreprise" name="entreprise" class="form-control">
        <option *ngFor="let e of listEntreprises" [value]="e">{{e}}</option>
    </select>

    <textarea [(ngModel)]="commentaire" name="comment" cols="5" rows="2"></textarea>

    <pre>
        {{ f.value | json}}
    </pre>

    <button (click)="onSubmit(f)" class="btn btn-primary">Submit</button>
    <button (click)="generePwd(f)" class="btn btn-danger">Générer PWD</button>
    <button (click)="annulerForm(f)" class="btn btn-danger">Reset</button>
</form>